{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <a href="{% url 'blog:post_list' %}">&laquo; Back to all posts</a>

    <h1>{{ post.title }}</h1>
    <p><em>{{ post.category }} -- {{ post.created_at|date:"F j, Y" }} by {{ post.author }}</em></p>

    {% if post.image %}
        <img src="{{ post.image.url }}" width="500">
    {% endif %}

    <p>{{ post.content }}</p>

    <hr>
    <h3>Comments ({{ comments.count }})</h3>
    {% for comment in comments %}
        <p><strong>{{ comment.name }}</strong> -- {{ comment.created_at|date:"F j, Y, g:i a" }}<br>
        {{ comment.message }}</p>
    {% empty %}
        <p>No comments yet. Be the first!</p>
    {% endfor %}

    <h3>Leave a Comment</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Post Comment">
    </form>
{% endblock %}
