{% extends "blog/base.html" %}

{% block content %}
    <nav>
        <a href="{% url 'blog:post_list' %}">All Posts</a>
        {% for category in categories %}
            | <a href="{% url 'blog:post_list' %}?category={{ category.name }}">{{ category.name }}</a>
        {% endfor %}
    </nav>

    <hr>

    {% for post in posts %}
        <article>
            <h2><a href="{% url 'blog:post_detail' post.slug %}">{{ post.title }}</a></h2>
            <p><em>{{ post.category }} -- {{ post.created_at|date:"F j, Y" }} by {{ post.author }}</em></p>
            {% if post.image %}
                <img src="{{ post.image.url }}" width="300">
            {% endif %}
            <p>{{ post.content|truncatewords:30 }}</p>
        </article>
        <hr>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
{% endblock %}
